<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">

<head>
  <link rel="stylesheet" href="static/style2.css">
</head>

<body>
  <div>
    <form id="survey-form">
      <h2 class="text">Name</h2>
      <input id="name" type="text" placeholder="Enter your name" required>
      <h2 class="text">Email</h2>
      <input id="email" type="email" placeholder="Enter your Email" required>
      <h2 class="text">Password</h2>
      <input id="email" type="password" placeholder="Enter your Password" required>
      <h2 class="text">Confirm Password</h2>
      <input id="email" type="password" placeholder="Please confirm your Password" required>
      <div id="reg_button"><button id="register" type="submit">Register</button></div>
    </form>
  </div>

</body>

</html>