<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">

<head>
  <link rel="stylesheet" href="static/style2.css">
</head>

<body>
  <div>
    <form class="form" action="{{url_for('profile_signup')}}" id="signup_form" method="POST">
      <h2 class="text">Name</h2>
      <input id="name" type="text" placeholder="Enter your name" required name="name">
      <h2 class="text">Email</h2>
      <input id="email" type="email" placeholder="Enter your Email" required name="email">
      <h2 class="text">Password</h2>
      <input id="pwd" type="password" placeholder="Enter your Password" required name="password">
      <h2 class="text">Confirm Password</h2>
      <input id="pwdc" type="password" placeholder="Please confirm your Password" required name="confirm_password">
      <div id="reg_button"><button id="register" type="button">Register</button></div>
    </form>
  </div>

</body>
<script>
  document.getElementById("register").addEventListener("click", function () {
      
      if (document.getElementById('pwd').value.length > 5 && document.getElementById('pwd').value == document.getElementById('pwdc').value) {
         document.createElement('form').submit.call(document.getElementById("signup_form"));
      }
      else{
          alert('Password do not match or password too small')
      }
  });
</script>
</html>